.app {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: bisque;
  height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  color: rgb(119, 61, 7);
}
button {
  margin-right: 4px;
  padding: 4px;
  background-color: rgb(247, 198, 93);
  border-radius: 10px;
  border: none;
}

input {
  width: 100px;
  height: 2rem;
  border-radius: 10px;
  border: none;
  padding: 4px;
}
